.sections
    .section__scope
        .section__column
            i.fas fa-home
        .section__column
            i.fab fa-gripfire  
        .section__column
            i.fas fa--calender-check
    .section__folder