.videoBlock {
  margin-bottom: 5px;
  // margin-left: 5px;

  video {
    max-width: 100%;
  }

  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}