.videoBlock {
  margin-bottom: 5px;
  // margin-left: 5px;

  video {
    max-width: 100%;
  }

  .videoBlock__info {

    .videoBlock__title {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    .videoBlockInfo__sections {
      font-size: 12px;
      font-weight: 400;

      .videoBlock__creatorName {
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
  }
}