mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
        video(src=video.src)
        .videoPlayer__controls
            .videoPlayer__progressBar-list
                .videoPlayer__Text
                    span#progressBar-loadTime
                .videoPlayer__progressBar
            .videoPlayer__sections
                .videoPlayer__sections-left
                    .videoPlayer__play
                        span#jsPlayButton
                            i.fas.fa-play.videoPlayer-icon 
                    .videoPlayer__volume
                        span#jsVolumeBtn
                            i.fas.fa-volume-up.videoPlayer-icon
                        input.videoPlayer__slider.videoPlayer-icon#jsVolume(type="range", min="0", max="1", step="0.1", value="1")
                    .videoPlayer__boundTime
                        span
                            span#currentTime 00:00:00
                            |  / 
                            span#totalTime 00:00:00
                    .videoPlayer__title
                        span#jsVideoTite 토끼와 친구들
                .videoPlayer__sections-right
                    .videoPlayer__fullScreen
                        span#jsFullScreen
                            i.fas.fa-expand.videoPlayer-icon