html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

.u-avatar {
  height: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; }

html,
body {
  height: 100%; }

body {
  background-color: #f9f9f9;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 150vh;
  padding-top: 100px; }

button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  color: #444444;
  font-weight: 600;
  background-color: white;
  max-width: 320px;
  resize: none; }
  button::-webkit-input-placeholder,
  input:not([type="file"])::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  .fileUpload::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-moz-placeholder,
  input:not([type="file"]):-moz-placeholder,
  textarea:-moz-placeholder,
  .fileUpload:-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-moz-placeholder,
  input:not([type="file"])::-moz-placeholder,
  textarea::-moz-placeholder,
  .fileUpload::-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-ms-input-placeholder,
  input:not([type="file"]):-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  .fileUpload:-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-ms-input-placeholder,
  input:not([type="file"])::-ms-input-placeholder,
  textarea::-ms-input-placeholder,
  .fileUpload::-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::placeholder,
  input:not([type="file"])::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }

button {
  border: none;
  background-color: #3498db;
  color: white; }

button.delete {
  background-color: #bb2f2a; }

button,
input[type="submit"] {
  cursor: pointer; }

.header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 30px;
  z-index: 99999; }
  .header .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .header__wrapper .header__column i {
      color: #ea232c;
      font-size: 30px; }
    .header .header__wrapper .header__column span {
      margin: 0 auto;
      margin-left: 5px;
      font-size: 25px; }
    .header .header__wrapper .header__column:nth-child(2) {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      color: #444444;
      font-weight: 600;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul li {
        color: rgba(0, 0, 0, 0.6);
        border: 1px solid #686f7a;
        padding: 10px; }
      .header .header__wrapper .header__column ul li:hover {
        color: #444444; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 15px; }
    .header .header__wrapper .header__column form {
      width: 100%; }
      .header .header__wrapper .header__column form input {
        padding: 7px 10px;
        width: 100%;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        font-size: 14px;
        color: #444444;
        font-weight: 600;
        max-width: none;
        border: 1px solid #cccccc; }
        .header .header__wrapper .header__column form input::-webkit-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input:-moz-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::-moz-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input:-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }

.footer {
  margin: 50px 0px;
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer .footer__icon {
    color: rgba(0, 0, 0, 0.2);
    font-size: 40px;
    margin-bottom: 20px; }
  .footer .footer__text {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 800;
    text-transform: uppercase; }

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px; }
    .form-container form input {
      margin-top: 10px; }
    .form-container form input:not([type="file"]),
    .form-container form .fileUpload {
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .form-container form input:not([type="file"]):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
      .form-container form input:not([type="file"]) label,
      .form-container form .fileUpload label {
        font-weight: 300;
        margin-right: 9px; }
    .form-container form textarea {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 25px; }
    .form-container form input[type="submit"] {
      background-color: #3498db;
      color: white; }
  .form-container a {
    max-width: 320px;
    width: 100%; }

.social-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .social-login button {
    width: 100%;
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .social-login button:not(:last-child) {
      margin-bottom: 15px; }
    .social-login button span {
      margin-right: 10px;
      font-size: 20px; }
  .social-login .social-login--github {
    background-color: #444444;
    color: white; }
  .social-login .social-login--facebook {
    background-color: #3a5998;
    color: white; }

.videoBlock {
  margin-bottom: 5px; }
  .videoBlock video {
    max-width: 100%; }
  .videoBlock .videoBlock__info .videoBlock__title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px; }
  .videoBlock .videoBlock__info .videoBlockInfo__sections {
    font-size: 12px;
    font-weight: 400; }
    .videoBlock .videoBlock__info .videoBlockInfo__sections .videoBlock__creatorName {
      font-size: 15px;
      margin-bottom: 5px; }

.videoPlayer {
  width: 100%;
  position: relative; }
  .videoPlayer:hover .videoPlayer__controls {
    opacity: 1; }
  .videoPlayer:hover video {
    width: 100%; }
  .videoPlayer video {
    width: 100%;
    max-width: 100%; }
  .videoPlayer .videoPlayer__controls {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 10px 15px 5px 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .videoPlayer .videoPlayer__controls .videoPlayer__progressBar-list {
      display: block;
      width: 100%; }
      .videoPlayer .videoPlayer__controls .videoPlayer__progressBar-list .videoPlayer__Text:hover span {
        padding: 5px;
        background-color: #444444;
        color: white;
        font-size: 11px; }
      .videoPlayer .videoPlayer__controls .videoPlayer__progressBar-list .videoPlayer__progressBar {
        background-color: rgba(255, 255, 255, 0.5);
        height: 5px;
        margin-top: 15px;
        margin-bottom: 5px; }
    .videoPlayer .videoPlayer__controls .videoPlayer__sections {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      font-size: 20px;
      padding: 20px 10px 20px 10px; }
      .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left {
        grid-column: span 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer-icon {
          font-size: 23px; }
        .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__play {
          -webkit-box-pack: start;
          -webkit-justify-content: start;
             -moz-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: start;
          margin-right: 20px; }
        .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__boundTime {
          margin-right: 10px; }
        .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__volume {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 120px; }
          .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__volume span {
            width: 35px; }
          .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__volume input[type=range] {
            -webkit-appearance: none;
            width: 70px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: rgba(25, 43, 45, 0); }
          .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__volume input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 6px;
            cursor: pointer;
            animate: 0.2s;
            -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            background: white;
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.5); }
          .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__volume input[type=range]::-webkit-slider-thumb {
            -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            border: 1px solid rgba(0, 0, 0, 0.5);
            height: 14px;
            width: 14px;
            -webkit-border-radius: 100px;
                    border-radius: 100px;
            background: #FFFFFF;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -5px; }
        .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__title {
          margin-left: 15px;
          margin-right: 10px;
          font-size: 20px; }
          .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-left .videoPlayer__title font-size span {
            font-weight: 800;
            color: #bfbfbf; }
      .videoPlayer .videoPlayer__controls .videoPlayer__sections .videoPlayer__sections-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
           -moz-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-right: 35px; }
    .videoPlayer .videoPlayer__controls i {
      font-size: 25px;
      cursor: pointer; }

.record-container {
  width: 100%;
  max-width: 320px;
  margin-bottom: 50px; }
  .record-container video {
    background-color: black;
    width: 100%;
    margin-bottom: 20px; }

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F9F9F9; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 5px; }

.video-detail__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-detail__container .video__info {
    width: 100%;
    max-width: 1200px;
    margin-top: 25px; }
    .video-detail__container .video__info button {
      width: 100px;
      margin-bottom: 25px; }
    .video-detail__container .video__info .video__info-sections {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 15px; }
      .video-detail__container .video__info .video__info-sections .video__date {
        margin-left: 10px; }
    .video-detail__container .video__info .video__author {
      margin-top: 25px;
      margin-bottom: 5px;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 25px;
      border-top: 1px solid #CACFD2;
      border-bottom: 1px solid #CACFD2; }
      .video-detail__container .video__info .video__author .u-profile-img img {
        position: relative;
        width: 53px;
        height: 53px; }
      .video-detail__container .video__info .video__author .u-profile {
        position: absolute;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 18px; }
      .video-detail__container .video__info .video__author .video__description {
        margin-top: 15px;
        font-size: 16px; }
    .video-detail__container .video__info .video__title {
      display: block;
      margin-bottom: 15px; }
    .video-detail__container .video__info .video__title {
      font-size: 22px;
      font-weight: 300; }
  .video-detail__container .video__comments {
    margin-top: 15px;
    width: 100%; }
    .video-detail__container .video__comments .video__view {
      width: 100%;
      display: block; }
      .video-detail__container .video__comments .video__view .video__comment-number {
        font-weight: 500;
        font-size: 17px; }
    .video-detail__container .video__comments .add__comment {
      width: 100%;
      margin-top: 15px; }
      .video-detail__container .video__comments .add__comment .video__addComment-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        .video-detail__container .video__comments .add__comment .video__addComment-list img {
          width: 53px;
          height: 53px;
          position: relative; }
        .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput {
          width: 100%;
          height: 40px;
          border-bottom: 1px solid #CACFD2;
          margin-top: 5px;
          margin-left: 10px; }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input {
            max-width: 1160px;
            background-color: #F9F9F9; }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input:-moz-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input::-moz-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input:-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input::-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input::placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input:focus ~ .inputLink {
            margin-top: 7px;
            border-bottom: 2px solid black; }
          .video-detail__container .video__comments .add__comment .video__addComment-list .video__commentInput input:focus ~ .video__commentBtn {
            opacity: 1; }
      .video-detail__container .video__comments .add__comment .video__commentBtn {
        text-align: right;
        margin-top: 10px;
        opacity: 1; }
        .video-detail__container .video__comments .add__comment .video__commentBtn button {
          width: 90px;
          height: 50px;
          margin: 5px; }
    .video-detail__container .video__comments .video__comments-list {
      margin-top: 10px; }
      .video-detail__container .video__comments .video__comments-list li {
        color: black;
        padding: 15px;
        -webkit-border-radius: 20px;
           -moz-border-radius: 20px;
                border-radius: 20px;
        font-size: 15px;
        font-weight: 400; }
        .video-detail__container .video__comments .video__comments-list li .video__comments-info {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .creator-avatar {
            height: 100%; }
            .video-detail__container .video__comments .video__comments-list li .video__comments-info .creator-avatar img {
              width: 53px;
              height: 53px; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .creator-sections {
            width: 100%;
            margin-left: 10px;
            margin-top: 5px; }
            .video-detail__container .video__comments .video__comments-list li .video__comments-info .creator-sections .comments-content {
              width: 100%;
              margin-top: 10px;
              font-size: 19px;
              font-weight: 300; }
            .video-detail__container .video__comments .video__comments-list li .video__comments-info .creator-sections:not(:last-child) {
              margin-bottom: 15px; }
            .video-detail__container .video__comments .video__comments-list li .video__comments-info .creator-sections .name {
              font-size: 16px; }
            .video-detail__container .video__comments .video__comments-list li .video__comments-info .creator-sections .date {
              font-size: 14px;
              opacity: 0.7;
              margin-left: 3px; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .settings-icon i {
            opacity: 0.5; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .settings-icon i:hover {
            cursor: pointer; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .dropdown {
            position: relative;
            display: inline-block; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
               -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1; }
            .video-detail__container .video__comments .video__comments-list li .video__comments-info .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block; }
            .video-detail__container .video__comments .video__comments-list li .video__comments-info .dropdown-content a:hover {
              background-color: #f1f1f1; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .dropdown:hover .dropdown-icon {
            opacity: 1; }
          .video-detail__container .video__comments .video__comments-list li .video__comments-info .dropdown:hover .dropdown-content {
            display: block; }

.user-profile {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .user-profile .user-profile__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .user-profile .user-profile__header .profile__username {
      font-size: 18px;
      margin-top: 10px; }
  .user-profile .user-profile__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px; }
    .user-profile .user-profile__btns a {
      width: 130px; }
    .user-profile .user-profile__btns a:not(:last-child) {
      margin-bottom: 20px; }

.videoBlock-header {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px; }

.search__videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 5px;
  margin-top: 15px; }
  .search__videos video {
    background-color: black; }
